.dashboard{
  display: flex;
  gap: 20px;
}

.dashboard--content{
  background: #fff;
  flex: 1;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}